.main_title {
    font-size: min(20px, 4.3vw);
}

.sub_title {
    font-size: min(17px, 4vw);
}

.currentPageIcon {
    font-weight: 600;
    background-color: rgba(76, 175, 80, 0.28);
    border-radius: 25%;
    padding: 3px;
    border: 3px double rgba(0, 0, 0, 0.2);
}


/* ----- Hamburger menu button for Phone ----- */
@media (min-width: 801px) {
  .hamburger {
    display: none !important;
  }
}

/* ----- Small screens (default) ----- */
#navItems {
  display: none;        /* hidden by default */
  flex-wrap: wrap;
  background: rgba(76, 175, 80, 0.28);
  width: 100%;
  padding: 10px 0;
}

#navItems.show {
  display: flex;         /* shown when hamburger is clicked */
}

#navItems li {
  text-align: center;
  margin: 5px 0;
  flex: 1 0 33.33%;       /* 3 per row */
}

/* ----- Large screens (desktop) ----- */
@media (min-width: 801px) {
  #navItems {
    display: flex !important;
    flex-wrap: nowrap;
    background: none;
    padding: 0;
  }

  #navItems li {
    flex: none;
    width: auto;
    margin-right: 20px;
  }
}